<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание нового типа доставки</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Создание нового типа доставки</h1>
<form action="/admin/admin_typedel/create" th:object="${typedels}" method="post">
    <label for="name">Название:</label>
    <input type="text" id="name" min="1" max="255" name="name" th:field="*{name}" required>
    <input type="submit" value="Сохранить" class="btn-save">
</form>
<a href="/admin/admin_typedel/" class="btn-back">Отмена</a>
</body>
</html>