/* Обнуление стилей и базовые стили страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #95f380;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Заголовок страницы */
h1 {
    background-color: #95f380;
    color: #000000;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 24px;
}

/* Заголовок страницы */
header {
    background-color: #95f380;
    color: #0e0505;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

/* Навигационное меню */
nav {
    background-color: #95f380;
    text-align: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 10px;
}

.menu a.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #5fd344;
    color: #000000;
    border-radius: 4px;
    border: 1px solid #3333;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.menu a.btn:hover {
    background-color: #3ba123;
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
    .menu {
        text-align: center;
    }
    .menu li {
        margin-right: 0;
        margin-bottom: 10px;
        display: block;
    }
    .menu a.btn {
        margin-right: 0;
    }
}

/* Таблица с пользователями */
table {
    width: 80%;
    border-collapse: collapse;
    background-color: #60ee43;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 12px 15px;
    text-align: left;
}

table th {
    background-color: #60ee43;
    color: #000000;
}

/* Строки таблицы */
table tr:nth-child(even) {
    background-color: #5bb94d;
}

/* Действия в таблице */
table td a {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    color: #5bb94d;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

table td a:hover {
    background-color: #28c00f;
    color: #000000;
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Кнопка "Создать нового пользователя" */
.btn-new {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #a968f1;
    color: #000000;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 20px;
}

.btn-new:hover {
    background-color: #b880f6;
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Строка информации о пользователе */
p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Кнопка "Редактировать" */
/* Контейнер с информацией о пользователе */
.user-info {
    background-color: #9464ce;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

/* Строка информации о пользователе */
.user-info p {
    font-size: 18px;
    margin: 10px 0;
}

/* Кнопка "Редактировать" */
.btn-edit {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #53d540;
    color: #000000;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin-right: 10px;
}

.btn-edit:hover {
    background-color: #178309;
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Кнопка "Удалить" */
.btn-delete {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #ff0000;
    color: #000000;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin-right: 10px;
}

.btn-delete:hover {
    background-color: #ff0000;
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Кнопка "Вернуться к списку пользователей" */
.btn-back {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #40cb24;
    color: #000000;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 20px;
}

.btn-back:hover {
    background-color: #2d9616;
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Форма редактирования пользователя */
form {
    background-color: #44b233;
    padding: 70px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    text-align: center;
}

/* Лейблы и поля ввода */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 15px;
    border: 1px solid #44b233;
    border-radius: 4px;
    font-size: 16px;
}

.form-group{
    position: relative;
    width: 220px;
    padding: 10px;
    margin: 20px;

    /*Общие стили */
    background: #54c03b;
    cursor: pointer;

    /* Настройки шрифтов */
    font-weight: bold;

}

.search-button{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #44b233;
    color: #000000;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin-right: 10px;
    margin-top: 20px;
}

.search-button:hover{
    background-color: #2b961a;
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Кнопка "Сохранить" */
.btn-save {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #ad47f3;
    color: #000000;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin-right: 10px;
    margin-top: 20px;
}

.btn-save:hover {
    background-color: #9f22d2;
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Кнопка "Отмена" */
.btn-back {
    margin: 0px;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #40cb24;
    color: #000000;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-back:hover {
    background-color: #2d9616;
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
    background-color: #D6A3FB;
    border-radius: 20px;
    border-color: #b35cfa;
    border-style: ridge;
}

h2 {
    font-size: 28px;
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
    background-color: #D6A3FB;
    border-radius: 20px;
    border-color: #b35cfa;
    border-style: ridge;
}

.main {
    margin: 10px 30px;
    background: #83ef6c;
}
.main table{
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

