<!DOCTYPE html>
<html>
<head>
    <title>Заказ еды онлайн</title>
    <link rel="stylesheet" type="text/css" href="/style_zastavka.css">
</head>
<body>
<div class="background">
    <img src="/img/zastavka.jpg"/>
</div>
    <div class="gh">
        <h1>BEER BURGER</h1>
    </div>
<div class="bg">
    <h2>Добро пожаловать!!!</h2>
    <h3>Здесь можно заказать еду в несколько кликов</h3>
    <p class="start">
        <a type="submit" href="/user/user_menu/breakfast">Поехали!</a>
    </p>
</div>
<div class="nn">
    <p>© 2020 Beer Burger. Все права защищены.</p>
</div>
</body>
</html>