<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подтверждение заказа</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Подтверждение заказа</h1>
<form action="/manager/manager_zakaz/create" th:object="${delivery}" method="post">
    <input type="text" hidden="hidden" id="client" name="client" th:field="*{user.id}" required>
    <input type="text" hidden="hidden" id="orderdel" name="orderdel" th:field="*{orderdel.id}" required>
    <label>Доставщик</label>
    <div class="form-group">
        <select th:field="*{deliver}" id="user" class="custom-select">
            <option value="">Выберите доставщика</option>
            <option th:each="deliver : ${delivers}" th:value="${deliver.id}" th:text="${deliver.surname}"></option>
        </select>
        <span class="error-message" th:if="${#fields.hasErrors('user')}" th:errors="*{deliver}"></span>
    </div>
    <input type="submit" value="Сохранить" class="btn-save">
</form>
<a href="manager/manager_zakaz" class="btn-back">Отмена</a>
</body>
</html>