<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзины</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Корзины</h1>
<table>
    <tr>
        <th>Номер корзины</th>
        <th>Выбранные блюда</th>
    </tr>
    <tbody>
    <tr th:each="basket : ${baskets}">
        <td th:text="${basket.num}"></td>
        <td>
                            <span th:each="select : ${selects}">
                                <span th:text="${select.dish.name}"></span><br>
                            </span>
        </td>
    </tr>
    </tbody>
</table>
<a href="/home" class="btn-back">Назад</a>
</body>
</html>